doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Snus Clicker
        script(src="https://cdn.tailwindcss.com") 
        script(src="https://kit.fontawesome.com/f56ab63edd.js" crossorigin="anonymous") 
        script(src="/js/script.js") 
    body.text-xl.grid(class="bg-gradient-to-r from-orange-100 to-amber-100")
        h1.text-5xl.mt-4.mx-auto.drop-shadow-xl Snus Clicker
        .grid.grid-cols-3
            .col-start-1.h-96
                .w-full
                    h3.text-center.text-3xl.mb-4 Statistik
                    .w-full.h-80.p-4.rounded-lg.border-2.border-slate-800.mx-4
                        h2.text-xl#clickCounter.ml-2= `Totala klicks: ${clicks}`
                        h2.text-xl.ml-2#clickMultiplier= `Klickstyrka: ${clickMultiplier} mg`
            .col-start-2.h-96.grid
                .h-8.my-8.column-start-2
                    p.text-xl#cookieCounter.text-center.content-center= `${cookies} kr`
                    p.text-xl#cookiesPerSecond.text-center= `${cookiesPerSecond} kr per sekund`
                .div.column-start-2.mx-auto
                    button.w-80.h-80.my-2.rounded-full#clickButton
                        img(src="/assets/snus.png" alt="").rotating-image.drop-shadow-xl
            .col-start-3.h-96
                .w-full
                    h3.text-center.text-3xl.mb-4 Affär
                    .w-full.h-80.p-4
                        .w-50.h-16.grid.grid-cols-5.p-1.rounded-lg.border-2.border-slate-800.drop-shadow-lg.my-2#upgrade1.cursor-pointer
                            .grid.col-start-1.items-center
                                img(src="/assets/red_swirl.png" alt="").w-10.mx-2.drop-shadow-lg
                            .grid.col-start-2.items-center.justify-start(class="mx-[-4rem]")
                                p.p-2 Volt Red Swirl
                            .grid-col-start-3.grid.items-center.justify-end
                                p.p-2 +0.1
                            .grid-col-start-4.grid.items-center.justify-end
                                p.p-2#upgrade1Cost.absolute= `${upgrade1Cost} kr`
                            .grid.col-start-5.justify-end.grid.items-center
                                p.p-2#upgrade1Amount= `${upgrade1Amount} st`
                        .w-50.h-16.grid.grid-cols-5.p-1.rounded-lg.border-2.border-slate-800.drop-shadow-lg.my-2#upgrade2.cursor-pointer.hidden
                            .grid.col-start-1.items-center
                                img(src="/assets/zone_x.png" alt="").w-10.mx-2.drop-shadow-lg
                            .grid.col-start-2.items-center.justify-start(class="mx-[-4rem]")
                                p.p-2 Zone X Cold Blast
                            .grid-col-start-3.grid.items-center.justify-end
                                p.p-2 +1
                            .grid-col-start-4.grid.items-center.justify-end
                                p.p-2#upgrade2Cost.absolute= `${upgrade2Cost} kr`
                            .grid.col-start-5.justify-end.grid.items-center
                                p.p-2#upgrade2Amount= `${upgrade2Amount} st`
                        .w-50.h-16.grid.grid-cols-5.p-1.rounded-lg.border-2.border-slate-800.drop-shadow-lg.my-2#upgrade3.cursor-pointer.hidden
                            .grid.col-start-1.items-center
                                img(src="/assets/one.png" alt="").w-10.mx-2.drop-shadow-lg
                            .grid.col-start-2.items-center.justify-start(class="mx-[-4rem]")
                                p.p-2 One blå
                            .grid-col-start-3.grid.items-center.justify-end
                                p.p-2 +8
                            .grid-col-start-4.grid.items-center.justify-end
                                p.p-2#upgrade3Cost.absolute= `${upgrade3Cost} kr`
                            .grid.col-start-5.justify-end.grid.items-center
                                p.p-2#upgrade3Amount= `${upgrade3Amount} st`
                        .w-50.h-16.grid.grid-cols-5.p-1.rounded-lg.border-2.border-slate-800.drop-shadow-lg.my-2#upgrade4.cursor-pointer.hidden
                            .grid.col-start-1.items-center
                                img(src="/assets/velo_freeze.png" alt="").w-10.mx-2.drop-shadow-lg
                            .grid.col-start-2.items-center.justify-start(class="mx-[-4rem]")
                                p.p-2 Velo max freeze
                            .grid-col-start-3.grid.items-center.justify-end
                                p.p-2 +40
                            .grid-col-start-4.grid.items-center.justify-end
                                p.p-2#upgrade4Cost.absolute= `${upgrade4Cost} kr`
                            .grid.col-start-5.justify-end.grid.items-center
                                p.p-2#upgrade4Amount= `${upgrade4Amount} st`        
        .h-4.grid.absolute.bottom-0.dynamic-div.bg-red-600#milkBar                 
style.
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .rotating-image {
        animation: rotate 25s linear infinite;
    }
    .dynamic-div {
        width: var(--width-variable)
    }
    @font-face {
        font-family: coco;
        src: url("/fonts/LEMONMILK-Bold.otf");
    }
    body {
        font-family: coco ;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Standard */
    }
    @keyframes shake {
        0% { transform: translateX(0); }
        25% { transform: translateX(-5px); }
        50% { transform: translateX(5px); }
        75% { transform: translateX(-5px); }
        100% { transform: translateX(0); }
    }
    .shake-animation {
        animation: shake 0.5s ease;
    }