doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Snus Clicker
        script(src="https://cdn.tailwindcss.com") 
        script(src="https://kit.fontawesome.com/f56ab63edd.js" crossorigin="anonymous") 
        link(rel="stylesheet" href="/css/style.css")
        script(src="/js/script.js") 
        script(src="/js/upgrades.js") 
        script(src="/js/slides.js") 
        meta(name='google-adsense-account' content='ca-pub-8188712639195894')
    body.text-xl.grid(class="bg-gradient-to-r from-orange-100 to-amber-100")
        h1.text-5xl.mt-4.mx-auto.drop-shadow-xl Snus Clicker
        .grid.grid-cols-3
            .col-start-1.h-96
                .w-full
                    h3.text-center.text-3xl.mb-4 Statistik
                    .w-full.h-80.p-4.rounded-lg.border-2.border-slate-800.mx-4
                        h2.text-xl#clickCounter.ml-2= `Totala klicks: ${clicks}`
                        h2.text-xl.ml-2#clickMultiplier= `Klickstyrka: ${clickMultiplier} mg`
            .col-start-2.h-96.grid
                .h-8.my-8.column-start-2
                    p.text-xl#cookieCounter.text-center.content-center= `${cookies} kr`
                    p.text-xl#cookiesPerSecond.text-center= `${cookiesPerSecond} kr per sekund`
                .div.column-start-2.mx-auto
                    button.w-80.h-80.my-2.rounded-full#clickButton
                        img(src="/assets/snus.png" draggable="false").rotating-image.drop-shadow-xl
            .col-start-3.h-96
                .w-full
                    h3.text-center.text-3xl.mb-4 Affär
                    .grid.grid-cols-2.h-10.w-64.mx-auto.gap-4
                        .grid.border-2.border-slate-800.rounded-lg.justify-center.items-center.bg-rose-300#slide1
                            p sida 1
                        .grid.border-2.border-slate-800.rounded-lg.justify-center.items-center.bg-rose-50#slide2
                            p sida 2
                    .w-full.h-80.p-4#slide1Content                            
                        .w-50.h-20.grid.grid-cols-5.p-1.rounded-lg.border-2.border-slate-800.drop-shadow-lg.my-2#upgrade1.cursor-pointer
                            .grid.col-start-1.items-center.h-16
                                img(src="/assets/red_swirl.png" draggable="false").w-14.mx-2.drop-shadow-lg
                            .grid.col-start-2.col-span-3.items-start(class="mx-[-2.5rem]")
                                .grid.justify-start
                                    p.mt-1 Volt Red Swirl
                                .grid.items-start.grid-cols-10.justify-start
                                    p#upgrade1Cost.col-start-1.col-span-8= `${upgrade1Cost} kr`
                            .grid.col-start-5.justify-end.grid.items-center
                                p.p-1#upgrade1Amount= `${upgrade1Amount} st`
                                p.text-end.mx-1 +0.1
                        .w-50.h-20.grid.grid-cols-5.p-1.rounded-lg.border-2.border-slate-800.drop-shadow-lg.my-2#upgrade2.cursor-pointer
                            .grid.col-start-1.items-center.h-16
                                img(src="/assets/zone_x.png" draggable="false").w-14.mx-2.drop-shadow-lg
                            .grid.col-start-2.col-span-3.items-start(class="mx-[-2.5rem]")
                                .grid.justify-start
                                    p.mt-1 zone x cold blast
                                .grid.items-start.grid-cols-10.justify-start
                                    p#upgrade2Cost.col-start-1.col-span-8= `${upgrade2Cost} kr`
                            .grid.col-start-5.justify-end.grid.items-center
                                p.p-1#upgrade2Amount= `${upgrade2Amount} st`
                                p.text-end.mx-1 +1
                        .w-50.h-20.grid.grid-cols-5.p-1.rounded-lg.border-2.border-slate-800.drop-shadow-lg.my-2#upgrade3.cursor-pointer
                            .grid.col-start-1.items-center.h-16
                                img(src="/assets/one.png" draggable="false").w-14.mx-2.drop-shadow-lg
                            .grid.col-start-2.col-span-3.items-start(class="mx-[-2.5rem]") 
                                .grid.justify-start
                                    p.mt-1 one blå
                                .grid.items-start.grid-cols-10.justify-start
                                    p#upgrade3Cost.col-start-1.col-span-8= `${upgrade3Cost} kr`
                            .grid.col-start-5.justify-end.grid.items-center
                                p.p-1#upgrade3Amount= `${upgrade3Amount} st`
                                p.text-end.mx-1 +8
                        .w-50.h-20.grid.grid-cols-5.p-1.rounded-lg.border-2.border-slate-800.drop-shadow-lg.my-2#upgrade4.cursor-pointer
                            .grid.col-start-1.items-center.h-16
                                img(src="/assets/velo_freeze.png" draggable="false").w-14.mx-2.drop-shadow-lg.rotate-90
                            .grid.col-start-2.col-span-3.items-start(class="mx-[-2.5rem]") 
                                .grid.justify-start
                                    p.mt-1 velo max freeze
                                .grid.items-start.grid-cols-10.justify-start
                                    p#upgrade4Cost.col-start-1.col-span-8= `${upgrade4Cost} kr`
                            .grid.col-start-5.justify-end.grid.items-center
                                p.p-1#upgrade4Amount= `${upgrade4Amount} st`
                                p.text-end.mx-1 +40   
                    .w-full.h-80.p-4#slide2Content.hidden
                        .w-50.h-20.grid.grid-cols-5.p-1.rounded-lg.border-2.border-slate-800.drop-shadow-lg.my-2#cursorUpgrade.cursor-pointer
                            .grid-col-start-1.items-center.h-16 
                                img(src="/assets/cursor.png" draggable="false" class="rotate-[-20deg]").w-12.ml-1
                            .grid-col-start.2-col-span-3.items-start(class="mx-[-2.5rem]") 
                                .grid.justify-start
                                    p.mt-1 klickstyrka 
                                .grid.items-start.grid-cols-10.justify-start
                                    p#cursorUpgradeCost.col-start-1.col-span-8= `${cursorUpgradeCost} kr`
                            .grid.col-start-5.justify-end.grid.items-center
                                p.p-1#cursorUpgradeAmount= ` ${cursorUpgradeAmount} st`
                                p.text-end.mx-1 2x 
        .h-4.grid.absolute.bottom-0.dynamic-div.bg-red-600#milkBar                 
